body {
    background-image: url(Pictures/star-wars-background.jpeg);
    color: white;
}
main {
    padding: 2%;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 3.5fr;
    grid-template-rows: 0.2fr 1.8fr 0.2fr;
    grid-template-areas: 
         "nav nav"
         "sidebar main"
         "sidebar footer";
    grid-gap: 0.4rem;
}

nav {
    border-radius: 25px;
    background-color: #424242;
    grid-area: nav;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav ul{
    float: left;
    list-style: none;
    margin-right: 5px;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: #1a1919;
    margin: 0 5px;
    position: relative;
    width: 150px;
    height: 75px;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0, 20px;
    color: white;
    text-decoration: none;
    line-height: 75px;
    font-size: 15px;

}

nav ul li a:hover {
    color: #ffe81f;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffe81f,
                0 0 5px #e0cb0d;
}

nav ul ul li a:hover {
    color: #ffe81f;
    border-radius: 5px;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 60px;
    border-top: 3px solid #ffe81f;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
    left: 73%;
    top:0;
    opacity: 0;
    visibility: hidden;
    
}
nav ul li:hover > ul{
    top: 75px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    display: block;
    margin: 0;
    border-bottom: 1px solid #1a1919;
}

nav ul ul li a{
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 0, 20px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 50px;
}

nav ul ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

nav ul ul ul li {
    top: -60px;
    width: 100%;
    margin: 0;
}

main {
    border-radius: 25px;
    background-color: #424242;
    grid-area: main;
}

#sidebar {
    border-radius: 25px;
    background-color: #424242;
    grid-area: sidebar;
}

footer {
    border-radius: 25px;
    background-color: #424242;
    grid-area: footer;
}

#sw-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 1%;
    
}

#ReleaseOrderPic {
    width: 20%;
}

#ChronoOrderPic {
    width: 40%;
}

h1 {
    font-weight: bold;
    font-size: 2.5em;
}
